@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&family=Oswald:wght@300;400&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Orbitron', sans-serif;
}

.text-body {
  font-family: 'Oswald', sans-serif;
}

.text-regular {
  font-weight: 500;
}

.text-bold {
  font-weight: 700;
}
